// Файл обнуляющих стилей
@import "nullstyle.scss";
// breakpoints
@import 'breakpoints.module.scss';

html {
	height: auto;
}
body {
	margin: 0px auto;
	font-family: 'Roboto', sans-serif;
	background: dodgerblue linear-gradient(45deg, aqua, dodgerblue, deeppink) fixed;
}
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: auto;
}
#myForm {
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin: 50px auto 0px;
	width: 600px;
	box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
	@include sm-breakpoint {
		width: 90%;
	}
}
span {
	font-size: 16px;
	font-weight: 700;
	color: darkblue;
}
input, textarea {
	margin: 5px 0px 15px 0px;
	// margin-bottom: 15px;
	padding: 7px;
	border: none;
	border-radius: 5px;
	overflow-wrap: break-word;
	word-break: break-word;
}
::-webkit-input-placeholder {
	// top: 0px;
  // left: 5px;
	position: absolute;
}
:-moz-placeholder {
	// top: 0px;
  // left: 5px;
	position: absolute;
	
}
input:focus, textarea:focus {
	border: 2px solid darkorchid;
}
#userComment {
	height: 100px;
	resize: vertical;
}
#commentDate {
	width: 110px;
	margin-left: 5px;
	margin-bottom: 5px;
	// padding: 5px;
	// padding-left: 5px;
	flex: 1;
}
#dateAndButton {
	display: flex;
	flex-direction: row;
	margin: 5px 0px 0px 0px;
}
#spanAndDate {
	flex: 2;
	flex-direction: row;
}
#ButtonDiv {
	flex: 4;
	display: flex;
	align-items: center;
	justify-content: end;
}
button {
	// display: flex;
	align-items: center;
	justify-content: end;
	// vertical-align: middle;
	width: 100px;
	margin: 5px;
	height: calc(100% - 10px);
	border: none;
	border-radius: 5px;
	background-color: transparent;
	color: darkblue;
	font-size: 12px;
	font-weight: 700;
	box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
	@include xs-breakpoint {
		height: 60%;
		margin-top: 20px;
	}
}
button:hover{
	background-color: rgb(63, 96, 217);
}
button:focus{
	border: 2px solid darkorchid;
}
#comments {
	// width: 90vw;
	display: flex;
	flex-direction: column;
	margin: 20px auto 50px;
}
.comment {
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: 10px auto;
	padding: 10px;
	box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
	@include sm-breakpoint {
		width: 90%;
		padding: 10px;
	}
}
#userNameInComments {
	padding-top: 5px;
	font-size: 16px;
	font-weight: 500;
}
#userCommentInComments {
	padding-top: 5px;
	font-size: 14px;
	overflow-wrap: break-word;
	word-break: break-word;
	font-style: italic;
}
.commentBottom {
	margin-top: 15px;
	display: flex;
	align-items: center;
}
#commentDateTimeinComments {
	width: 130px;
	padding-top: 5px;
	font-size: 12px;
	font-weight: 700;
	font-style: italic;
}
.likeButton {
	margin-left: 60px;
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 5px;
	text-align: center;
	background-color: transparent;
	font-size: 10px;
	font-weight: 700;
	box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
	cursor: pointer;
}
.likeButton:hover{
	background-color: rgb(63, 96, 217);
}
.deleteButton {
	margin-left: 20px;
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 5px;
	text-align: center;
	background-color: transparent;
	color: darkblue;
	font-size: 10px;
	font-weight: 700;
	box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
}
.deleteButton:hover{
	background-color: rgb(63, 96, 217);
}